@import url(https://fonts.googleapis.com/css?family=Open+Sans);

td{
    max-width: 500px;
}

.loadingInitial{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingNewQ{
    display: flex;
    justify-content: center;
    left: 50%;
    transform: scale(0.5);
}

.tableWrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

@media (max-width: 660px){
    .tableWrapper{
        margin: 10px;
    }
}

.tableStyle {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.tableStyle td, .tableStyle th {
    text-align: center;
    padding: 8px;
}


.tableStyle td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.tableStyle thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.tableStyle thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}


.tableStyle tr:nth-child(even) {
    background: #F8F8F8;
}


.content{
    padding-left: 12vw;
    padding-right: 12vw;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.consulta{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.centeredBlock{
    display: block;
    margin: auto;
    text-align: center;
}

.ocupacaoItem{
    display: block;
    margin: auto;
    text-align: center;
}

.searchBar{
    width: 350px;
    border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-bottom: 30px;
}

.searchButton{
    width: 80px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.resultadoConsulta{
    display: block;
    justify-content: center;
}




.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
    margin-top: 40px;
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }