@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.esquerda{
    /*alinhar verticalmente o texto da esquerda*/
}

.introImg {
    max-width: 100%;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}




.parag{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: rgb(138, 138, 138);
}




.linkAPI{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: rgb(0, 0, 0);
}

a {
    position: relative;
    color: #000;
    text-decoration: none !important;
  }
  
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #b99494;
    opacity: 0.5;
    transition: width 0.2s ease-in-out;
  }
  
  /* Add the animation on hover */
  a:hover::after {
    width: 100%;
  }
  
  @keyframes underline {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

.material-symbols-outlined {
    position:relative;
    top:2px;
    margin-right: 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' -25,
    'opsz' 40
  }

  @media (max-width: 1199px){
    .introImg{
        max-width: 80%;
    }
  }